.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}



/*Start NavBar styles*/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #222;
    position: sticky;
    top: 0;
    padding: 0 10px;
}

.hamburger-menu{
    display: none;
}

.back-btn{
    color: white;
    background-color: blue;
    border: 1px solid white;
    border-radius: 8px;
}

.brand{
    color: blue;
}

.clocks{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    color: blue;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: blue;    
}


.nav-link{
    margin: 0 5px;
    text-decoration: none;
}
/*End NavBar styles*/