.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background: var(--tertiary-red) url("../../media/Landing-Image.jpg") center no-repeat;
  background-blend-mode: multiply, luminosity;
}

h1 {
  margin: 0;
  font-size: 45pt;
  color: var(--primary-red);
  opacity: 1;
}

hr {
  border: 1px solid var(--primary-red);
  width: 550px;
  margin: 0;
}

.landing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-gray);
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  height: 50%;
  width: 50%;
}

.landing-btns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.landing-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--primary-red);
  border-radius: 60px 60px 60px 60px;
  color: var(--primary-red);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 65px;
}

.landing-btn:hover {
  background-color: var(--primary-red);
  color: white;
  box-shadow: 0px 0px 5px var(--primary-red);
}
